@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

/* Basic reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root settings */
:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* Typography */
/* monbile approach */
h1 {
    font-size: 4rem;
    letter-spacing: 1.5px;
    line-height: 1;
}

p {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.3;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.logo {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
}

/* General layouting */
header {
    padding: 2.5rem;
}

section {
    padding: 0 2.5rem;
}

/* desktop approach */

@media  screen and (min-width:1000px){
    h1 {
        font-size: 6rem;
    }
    
    p {
        font-size: 2.6rem;
        letter-spacing: .8px;
    }
    
    a {
        font-size: 2rem;
    }
    
    .logo {
        font-size: 2.8rem;
        
    }
    
    /* General layouting */
    header {
        padding: 2.5rem 5rem;
    }
    
    section {
        padding: 0 5rem;
    } 

    .test{
        color: red;
    }
}