/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.burger-menu {
    font-size: 3rem;
}

.main-nav {
    display: none;
}


/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: -700px, 0;
}

main {
    background-image: url(../imgs/hero.jpeg);
    background-size: cover;
}

.hero h1,
.hero p {
    margin-bottom: 2rem;
}


/* Desktop */
@media screen and (min-width:1000px) {

    header {
        border-bottom: 1px solid gray;
    }

    .burger-menu {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav-list {
        list-style: none;
        display: flex;
        width: 600px;
        justify-content: space-between;
    }

    .hero {
        max-width: 900px;
    }
}