/* Header */
.main-nav {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu{
    font-size: 3rem;
}

/* Main */
.hero{
    max-width: 900px;
}


@media screen and (max-width:600px) {
    .hero{
        text-align: center;
    }
}

@media screen and (min-width:1200px) {
    .burger-menu{
        display: none;
    }
    .main-nav {
        display: block;
    }

    .main-nav-list{
        display: flex;
        width: 600px;
        justify-content: space-between;
        /* background-color: gray; */
    }
}